.Homepage section {
  height: 100vh;
}

.Homepage .mainBg {
  background-image: url("../../resource/5d64c4f07eab396b6a0010201e68827a.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.Homepage .mainBg div {
  margin: auto 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Homepage .mainBg div h4 {
  color: white;
}
.Homepage .mainBg div h4 span {
  color: rgb(0, 128, 55);
  font-size: inherit;
}
.Homepage .mainBg div button {
  background-color: rgb(201, 226, 101);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
}
